<div id="wrapper">

	<span id="answer"></span>
	<table id="round1" class="gameboard" style="position: relative; display: none;"><!-- Initially Hidden -->
		<tr>
			<td>$200</td>
			<td>$200</td>
			<td>$200</td>
			<td>$200</td>
			<td>$200</td>
			<td>$200</td>
		</tr>
	</table>
	
	<div id="question">
		<div class="question center">
			<span id="prompt" class="" onclick="showAnswer();"></span>
			<br />
			<span id="response" class="" style="" onclick="showBoard();"></span>
		</div>
	</div>

</div>