// Place all the styles related to the board controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#wrapper
{
	height: 100%;
}

table.gameboard
{
	width: 100%;
	height: 100%;
}

table.gameboard td
{
	width: 16.66%;
	color: #dddddd;
	background: linear-gradient(to top left, #000088, #0000ff);
	background: -webkit-linear-gradient(to top left, #000088, #0000ff);
	border-radius: 5px;
	//border-radius: 100px 100px 100px 100px / 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20pt;
	text-align: center;
}

/* style the dollar values */
td > a
{
	text-decoration: none; /* no underline */
	color: #d9c80a;
}

#question
{
	position: absolute;
	//width:100%;
	//height:100%;
	background: linear-gradient(to top left, #000088, #0000ff);
	background: -webkit-linear-gradient(to top left, #000088, #0000ff);
	word-wrap: break-word;
}

.question.center
{
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	

	/* Flexbox FTW! */
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	-webkit-align-items: center;
	align-items: center;

	-webkit-justify-content: center;
	justify-content: center;
	/*padding: 100px;*/


	/* TODO move to .question*/
	color: white;
	font-size: 20pt;
}

.question > span
{
	
}
